/*Alex Abreu 11/02 */

body {
		color:#FFFFFF;
	  background-color: #C9E4FF;
	  font-family: Calibri, sans-serif;
}

#outer-wrapper {
				width: 90%;
				margin-top: 0 auto;
}

header, nav, #content, footer
{

	/* set background-color to #4CA6FF;
   	set padding to 10px;
	 */
}

footer {
	   /*
		 set font-size to 0.75em;
		 center align text;
		 */
}

img {
	/*
   float image to the left
	 set padding to none;

	*/
}

.rightmargin {
	/*
	set margin-right to 2%;
	*/
}

h1,h2,h3{
	/*
	set font-family to Verdana, sans-serif;
	add padding to the top of 1%;
	*/
}

li{
	/*
	set list-style-type: none;
	set float to the left;
	set padding of 5px;
	 */
}

ul{
	/*
	set the padding-bottom to 1%;
	 */
}

nav{
	/*
	set background-color to #C9E4FF;
	 */
}

header{
	/*
	set background-color to #4ca6ff;
	padding: 0 2% 2% 0;
	*/
}

.clearfloat{
	clear:both;
}
